/* Global Start */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color: #4d5e80;
    font-size: 16px;
}
/* Global End */
/* Navbar Start */
.search-icon{
    border-radius: 1em 0 0 1em!important;
}
.search-input{
    border-radius: 0 1em 1em 0!important;
}
#men-thing{
    position: absolute;
    z-index: 1;
}
#men-thing li a{
    text-decoration: none;
    color:rgba(0,0,0,.55);
    padding: 0 1em;
    color: #4d5e80;
}
/* Navbar End */
/* Title Header Start */
.title-header{
   margin-top:1em;

}
.title-header span:nth-of-type(1){
    font-size:1.2em;
    /* display: inline-block; */
}
.title-header span:nth-of-type(2){
    font-size: 3em;
    color: #4d5e80;
    opacity: 10%;
    font-weight: 700;
    position: relative;
    left:-3.7em;
    z-index: 0;
}
/* Title Header End */
/* Banner Product Start */
section{
    /* border:1px solid red; */
    width:70%;
    margin: auto;
}
.banner{
    width: 100%;
    height:23.2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.promo{
    background-image: url(../images/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.promo h3:nth-of-type(1){
    font-size:1em;
    color:chocolate;
    font-weight: 700;   
}
.promo h3:nth-of-type(2){
    font-size:1.3em;
    color:chocolate;
    font-weight: 800;   
}
.promo h3:nth-of-type(3){
    font-size:3em;
    color:chocolate;
    font-weight: 800;
    text-transform: uppercase;   
}
.promo h3:nth-of-type(4){
    font-size:1em;
    color:chocolate;
    font-weight: 700;
    text-transform: capitalize;   
}
.promo2{
    background-image: url(../images/puppy1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-btn{
    font-size: 1em;
    padding: 0.8em 1.9em 0.8em 1.9em;
    border-radius: 3.2em;
    color:chocolate;
    font-weight: 700;
    /* outline: none; */
    border:none;
}
.promo2 h3:nth-of-type(1){
    font-size:1em;
    color:white;
    font-weight: 700; 
    margin-top:8em;  
}
.promo2 h3:nth-of-type(2){
    font-size:2.5em;
    color:white;
    font-weight: 700;
}
.promo2 .banner-btn{
    
    background-color: rgba(0,0,0,.2);
    color:white;
}
.promo3{
    background-image: url(../images/puppy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo3 h3:nth-of-type(1){
    font-size:1em;
    color:white;
    font-weight: 700; 
    margin-top:8em;  
}
.promo3 h3:nth-of-type(2){
    font-size:2.5em;
    color:white;
    font-weight: 700;
}
.promo3 .banner-btn{
   
    background-color: rgba(0,0,0,.2);
    color:white;
}
.card-promo{
    height:23.2em;
}
.card-promo img{
    /* padding:13em 1em 13em 1em; */
    height:14.9em;
}
.description{
    font-size:0.7em;
    text-align: center;
    color:#4d5e80;
    font-weight: 700; 
}
/* Banner Product End */
/* Subscription Start */
.subs{
    background-color: chocolate;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4em 3em 4em 3em;
}
.subs h3{
    font-size:1.7em;
    color:white;
    text-align: center;
}
.subs p{
    font-size:1em;
    color:white;
    opacity: 50%;
    text-align: center;
}
.new-form{
    display: flex;
    
}
.input-container{
    padding:0.7em 2em 0.7em 2em;
    background-color: rgb(139, 60, 3);
    border-radius: 30px;
    display: flex;
}
.input-container input{
    border: none;
    outline-style: none;
    background-color: rgb(139, 60, 3);
    color:white;
    padding-left:1em;
}
.input-container input::placeholder{
    border: none;
    background-color: rgb(139, 60, 3);
    color:white;
    outline-style: none;
}
.input-container input:focus{
    border: none;
    background-color: rgb(139, 60, 3);
    color:white;
    padding-left:1em;
    outline-style: none;
}
.new-form button{
    padding:0.7em 2em 0.7em 2em;
    border-radius: 30px;
    border:none;
    color: chocolate;
    font-weight: 600;
}
/* Subscription End */
/* Footer Start */
footer{
    width:70%;
    margin: auto;
    /* border:1px solid red; */
    margin-top:2em;
}
/* Footer End */


/* Womens Title Start*/
.women-header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
}
.women-header span:nth-of-type(1){
    font-size: 1.2em;
    font-weight: 700;
    /* overflow: auto; */
}

.sort-product{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top:3em;
}
.sort-product a{
    font-size: 0.75em;
}
.sort-active{
    color:chocolate;
}

.sort-list{
    background-color: chocolate;
    color:white;
    padding:0.1em 1em;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}
/* Womens HEader End */

/* Women Page Content Start*/
article{
    width:70%;
    margin: auto;
    margin-top:2em;
   /* border:1px solid red; */
}
.type-dress{
    border-bottom: none;
    cursor: pointer;
}
.type-dress-last{
    cursor: pointer;
}
/* Women Page Content ENd*/

@media only screen and (max-width:992px) {
    /* Women Header Start*/
    
   .women-header span:nth-of-type(1){
    font-size: 1.2em;
    /* margin-top:20em; */
   }
    /*Women HEader End  */
    
}
@media only screen and (max-width: 768px) {
    /* Banner Product Start */
    .description{
        font-size:1em;
        text-align: center;
        color:#4d5e80;
        font-weight: 700; 
    }
    .card-promo{
        height:30.2em;
    }
    .card-promo img{
        /* padding:13em 1em 13em 1em; */
        height:14.9em;
    }
    /* Banner Product End */
    /* Subscription Start */
    .new-form{
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center; 
    }
    .new-form button{
        padding:0.7em 2em 0.7em 2em;
        border-radius: 30px;
        border:none;
        color: chocolate;
        font-weight: 600;
        margin-top: 1em;
    }
    /* Subscription End */
      /* Women Header Start*/
      
      .women-header span:nth-of-type(1){
        font-size: 1.2em;
        /* margin-top:10em; */
       }
  
    /*Women HEader End  */
    
}

@media only screen and (max-width: 576px) {
    /* Banner Product Start */
    .promo h3:nth-of-type(3){
        font-size:2.2em;
        color:chocolate;
        font-weight: 800;
        text-transform: uppercase;   
    }
    .promo2 h3:nth-of-type(2){
        font-size:1.8em;
        color:white;
        font-weight: 700;
    }
    .promo3 h3:nth-of-type(2){
        font-size:1.8em;
        color:white;
        font-weight: 700;
    }
      /* Women Header Start*/
      .women-header span:nth-of-type(1){
        font-size: 1em;
        margin-top:5em;
       }
       .sort-product{
        margin-top:-4.8em;
       }
       .card-promo{
        height:30.2em;
    }
    .card-promo img{
        /* padding:13em 1em 13em 1em; */
        height:20.9em;
    }
    /*Women HEader End  */
    /* Banner Product End */
}